<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907618415879-apeigl2a33o7atu2bceihj6lvat37rgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907618415879-apeigl2a33o7atu2bceihj6lvat37rgo</string>
	<key>API_KEY</key>
	<string>AIzaSyBKm3U12ylPKvNBKqR2glcUwstya8a3Z3c</string>
	<key>GCM_SENDER_ID</key>
	<string>907618415879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>wechat-10f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-10f8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907618415879:ios:a1dad1336747a4965fc1a2</string>
</dict>
</plist>